.about{
    background-color: $f-color;
    //background-color: blue;
    //display: none;
    transition: 5s;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    &.abtshow{
        // display: block;
        background-color: rebeccapurple;
        color: $t-color;
        
}
    .text{
        padding: 15px;

        h2{
            margin: 10px 0px;
            font-size: $ft-size + 12;
        }
        p{
            font-size: $ft-size - 4;
            margin: 10px 0px;

        }
        button{
            margin: 10px 0px;
            @import url('./_button.scss');
        }
    }
    .image{
        img{
            width: 100%;
        }
    }
}