.about{
    background-color: $f-color;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    &.abtshow{
        background-color: $t-color;
        color: $f-color;
        
}
    .text{
        padding: 15px;

        h2{
            margin: 10px 0px;
            font-size: $ft-size + 12;
        }
        p{
            font-size: $ft-size - 4;
            margin: 10px 0px;

        }
        button{
            margin: 10px 0px;
            @import url('./_button.scss');
        }
    }
    .image{
        img{
            width: 100%;
        }
    }
}