.banding{
    text-align: center;
    margin: auto;
    padding: 60px 0px;
    max-width: 600px;
    visibility: hidden;
    opacity: 0;
    transition: visibilty 1s, opacity 1.5s linear;
    -webkit-transition: visibilty 1s, opacity 1.5s linear;
    -moz-transition: visibilty 1s, opacity 1.5s linear;
    -ms-transition: visibilty 1s, opacity 1.5s linear;
    -o-transition: visibilty 1s, opacity 1.5s linear;
    &.bdgBlock{
        visibility: visible;
        opacity: 1;
    }
    
    
    .row{
        
        .box{
            width: 21rem;
            margin: 43px 17px;
            box-shadow: 0px 0px 14px 0px #bababa;
            padding: 25px 15px;
            h3{
                font-size: $ft-size;
            }
            p{
                font-size: $ft-size - 4;
                line-height: $line-height;
            }
            img{
                width: 40px;
            }
        }
    }
}