.banding{
    text-align: center;
    margin: auto;
    max-width: 600px;
    .row{
        
        .box{
            width: 21rem;
            margin: 43px 17px;
            box-shadow: 0px 0px 14px 0px #bababa;
            padding: 25px 15px;
            h3{
                font-size: $ft-size;
            }
            p{
                font-size: $ft-size - 4;
                line-height: $line-height;
            }
            img{
                width: 40px;
            }
        }
    }
}