
@media(min-width:767px){
    .FilterBar{
        &.move{
            width: 173px;
        }
    }

}
@media(min-width:991px){}
@media(min-width:1199px){}
.FilterBar{
    background-color: $f-color;
    width: 40%;
    padding: 21px 23px;
    color: white;
    position: fixed;
    z-index: 2;
    top: 4rem;
    height: 100%;
    margin-left: -33rem;
    transition: .5s;
    &.move{
        margin-left: 0rem;
        width: 173px;
    }

.key{
    position: fixed;
    top: 5rem;
    left: 150px;
    background-color: black;
    padding: 7px;
    border-radius: 0px 10px 10px 0px;
    z-index: 3;
    margin-left: -150px;
    
    &.keyvis{
        margin-left: 23px;
    }
}


    .items{
        li{
            display:flex;
            align-items: center;
            margin: 40px 0px;
            font-size: $ft-size - 4;
            span{
                margin-left: 10px;
            }:hover{
                background-color: blue;
            }
        }
    }
}













