footer{
    width: 100%;
    background-color: $f-color;
    color: white;
    padding: 20px 20px;
    .row{
        .field{
            h2{
                margin: 20px 0px;
                }
                }
            text-align: center;
            margin: 40px 30px;
            .refernce{
                i{
                    margin: 10px 5px;
                }
                span{
                    margin-left: 10px;
                }
            }

            ul{
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            input{

            }
            button{
                margin: 10px 0px;
            }
        }
    }

