.publication{
    background-color: $t-color;
    
    .b-left{
        padding: 10px 20px;
        h2{
            margin: 10px 0px;
            font-size: $ft-size + 12;
            @include color;
            
        }
        p{
            margin: 10px 0px;
            line-height: $line-height;
            font-size: $ft-size - 4;
        }
       button{
            margin: 10px 0px;
            background-color: red;
       }
    }
    img{
        width: 100%;
    }
}