 
.publication{
    background-color: $t-color;
    padding-top: 6rem;

    .backgoudvedio {
        margin: -21px 0px;
        video{
            // width: 375px;
        }
    }
    
    .b-left{
        padding: 72px 0px;
        position: absolute;
        top: 0;
        left: 20px;
        h2{
            margin: 10px 0px;
            font-size: $ft-size + 12;
            @include color;
            
        }
        p{
            margin: 10px 0px;
            line-height: $line-height;
            font-size: $ft-size - 4;
        }
        button{
                margin: 10px 0px;
                background-color: $s-color;
        }
    }
    img{
        width: 100%;
    }
}

@media(max-width:767px){
    .backgoudvedio{
        video{
            width: 433px;
            margin: 0px -58px;

        }
    }
    
    
}

@media(min-width:768px){
    .backgoudvedio{
        video{
            width: 817px;
            margin: 0px -58px;
        }
    }
    
    
}
@media(min-width:991px){
    .backgoudvedio{
        video{
            width: 1021px;
            height: 575px;
        }
    }
}
@media(min-width:1199px){
    .backgoudvedio{
        video{
            width: 1287px;
            height: 721px;
        }
    }
}