.product{
    background-color: rgb(255, 167, 15);
    h2{
        text-align: center;
        margin-top: 2rem;
    }
    
    .row{
        .content{
            width: 50%;
            margin: 54px auto;
            background-color: #dedede;
            border-radius: 5px;
            padding: 42px 20px;
            .iconify{
                color: $s-color;
                font-size: $ft-size + 10;
            }
            img{
                width: 110px;
                height: 101px;
            }
            h3{
                margin: 23px 0px;
            }
            p{
                color: green
            }
            .star{

            }
            .button{
                // @import url('./_button.scss');
            }
        }
    }
}