@import url("../scss/_button.scss");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #d7b236;
  border: 0;
  padding: 10px 35px;
  color: white;
  border-radius: 8px;
  margin: 50px;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  background-color: #3a4468;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 20px 50px;
}

nav h2 {
  font-size: 30px;
}

nav .list ul {
  list-style: none;
}

nav .list ul li {
  display: inline-block;
  margin: 0px 25px;
}

nav .list ul li:hover {
  color: #d7b236;
}

.publication {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  padding-top: 1rem;
  align-items: center;
}

.publication .b-left {
  margin: 150px 150px;
}

.publication .b-left h2 {
  color: #4d5675;
  font-size: 40px;
}

.publication .b-left p {
  margin-top: 15px;
  width: 550px;
}

.publication .b-left button {
  font-size: 23px;
  margin-left: 0px;
}

.publication img {
  width: 33.33333%;
  margin-top: 8px;
}

.product {
  width: calc($width / 2);
  margin: 50px 50px;
  display: grid;
  grid-template-columns: 55% 55% 55%;
}

.product .content {
  padding: 50px 10px;
  background-color: #f7f7f7;
  border: 1px solid #535252;
  width: 12.5%;
}

.product .content img {
  width: 33.33333%;
}
