@import './_varialble.scss';
@import './_reset.scss';
@import './_button.scss';



body{
    font-family: $font-family;
}
nav{
    width: $width;
    background-color: $primary_color;
    color: $text_color;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px 50px;

    h2{
        font-size: $font-size + 10;
        
    }
    .list{
        ul{
            list-style: none;
            

            li{
                display: inline-block;
                margin: 0px 25px;
            }
            li:hover{
                color: $secondry_color;
            }
        }
    }
}
.publication{
    width: $width;
    background-color: $bg_publication;
    display: flex;
    padding-top: 1rem;
    align-items: center;

    

    .b-left{
        margin: 150px 150px;
        h2{
            color: $title_color;
            font-size: $font-size *2;
        }
        
        
        p{
            margin-top: 15px;
            width: 550px;
        }
        button{
            font-size: $font-size + 3;
            @import url('../scss/_button.scss');
            margin-left: 0px;
        }
    }
    img{
        width: $width / 3;
        margin-top: 8px;
    }
}

.product{
    width: calc($width / 2);
    margin: 50px 50px;
    display: grid;
    grid-template-columns: 55% 55% 55%;
    
    .content{
        padding: 50px 10px;
        background-color: $bg_publication;
        border: $border;
        width: $width/8;
        img{
            width: $width / 3;
        }
        h3{

        }
        p{

        }
        i{

        }
    }
}











































































