$green : rgb(78, 237, 184);
$font-size: 30px;
$color: rgb(129, 129, 129);
$margin: 2rem;


nav{
    display: flex;
    align-items: center;
    background-color: $green;
    h2{
        color: $color;
        font-size: $font-size - 4;
    }
    .list{
        font-size: $font-size;
        ul{
            list-style: none;
            li{
                display: inline-block;
                background-color: $green;
            }
        }
    }
}