nav {
  display: flex;
  align-items: center;
  background-color: #4eedb8;
}

nav h2 {
  color: #818181;
  font-size: 26px;
}

nav .list {
  font-size: 30px;
}

nav .list ul {
  list-style: none;
}

nav .list ul li {
  display: inline-block;
  background-color: #4eedb8;
}
