*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
@media(max-width:767px){
    nav{
        .list{
            display: none;
        }
        i{
            display: block;
        }
    }
}
@media(min-width:768px){
    nav{
        .list{
            display: block;
            ul{
                list-style: none;
                li{
                    display: inline-block;
                }
            }
        }
        .bar{
            display: none;
        }
        
    }
    .publication{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 60px 60px;
        img{
            width: 25px;
        }
    }
    .product{
        width: calc(100% / 2);
        .row{
            display: grid;
            grid-template-columns: 80% 80%;
            div{
                // border: 1px solid;
                margin: 30px 15px;
                background-color: $t-color;
                img{
                    width: 200px;
                }
                h3{}
                p{}
                .star{
                    position: absolute;
                }
            }
        }
    }
}
@media(min-width:991px){
    .product{
        width: calc(100% / 2);
        .row{
            display: grid;
            grid-template-columns: 60% 60% 60%;
            div{
                // border: 1px solid;
                margin: 30px 15px;
                background-color: $t-color;
                img{
                    width: 200px;
                }
                h3{}
                p{}
                .star{}
            }
        }
    }
    
}
@media(min-width:1199px){
    nav{
    }
}
