*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
@media(max-width:767px){
    nav{
        .list{
            display: none;
        }
        i{
            display: block;
        }
    }
    .product{
        width: calc(100% / 2);
        .row{
            
            .content{
                
                img{
                    // width: 200px;
                }
                .star{
                    display: flex;
                    justify-content: end;
                    margin: -23px 1rem;
                }
                
            }
        }
    }
}
@media(min-width:768px){
    nav{
        .list{
            display: block;
            ul{
                list-style: none;
                li{
                    display: inline-block;
                }
            }
        }
        .bar{
            display: none;
        }
        
    }
    .publication{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 60px 60px;
        img{
            width: 25px;
        }
    }
    .product{
        // width: calc(100% / 2);
        width: 61%;
        .row{
            display: grid;
            grid-template-columns: 80% 80%;
            .content{
                margin: 30px 15px;
                background-color: $t-color;
                img{
                    width: 200px;
                }
                .star{
                    display: flex;
                    justify-content: end;
                    margin: -23px 1rem;
                }
                
            }
        }
    }
    .about{
        display: flex;
        color: $t-color;
        .text{
            width: 27rem;
            margin: 10px 0px;
        }
        .image{
            
            padding: 60px 0px;
            width: 26rem;
            margin-left: 100px;
            img{
            width: 270px;
            } 
        }
    }
    .banding{
        .row{
            display: grid;
            grid-template-columns: 50% 30%;
            margin-left: 1rem;
            .box:nth-child(1){
                width: 16rem;
            }
            .box:nth-child(2){
                width: 16rem;
            }
            .box:nth-child(3){
                width: 550px;
                img{
                    width: 15px;
                }
            }
        }
    }
}
@media(min-width:991px){
    .product{
        width: calc(100% / 2);
        .row{
            display: grid;
            grid-template-columns: 60% 60% 60%;
            .content{
                margin: 30px 15px;
                background-color: $t-color;
                img{
                    width: 200px;
                }
            }
        }
    }
    .about{
        padding: 10px 9rem;
        .text{
            margin: 2rem 0px;
        }
        .image{
            img{
                width: 130%;
                margin-left: -2rem;
                margin-top: 4rem;

            }
        }
        .text{
            margin-top: 5rem;
        }
    }
    .product{
        .row{
            display: grid;
            grid-template-columns: 60% 60% 60%;
        }
    }
    .banding{
        padding: 3rem 0px;
        .row{
            display: inline-flex;
            margin-left: -8rem;
            .box{
                width: 100%;
            }
            .box:nth-child(3){
                width: 16rem;
                img{
                    width: 12%;
                }
            }
        }
    }
    footer{
        .row{
            display: grid;
            grid-template-columns: 45% 40%;
            .field{
                margin-bottom: 10px;
                .refernce{
                    
                }

            }
        }
    }
}
@media(min-width:1199px){
    .product{
        .row{
            display: grid;
            grid-template-columns: 60% 60% 60%;
        }
    }
}
