nav{
    width: 100%;
    background-color: $fistcolor;
    color: $color;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: $sm-size + 5;
}

@media(max-width: $smalscreen ){
    ul{
        display: none;
    }
    i{
        display: block;
    }
}

@media(min-width: $medscreen){
    ul{
        display: block;

        li{

            display: inline-block;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    i{
        display: none;
        position: absolute;
    }
}
@media(min-width: $lagscreen){
    // ul{
    //     display: block;

    //     li{

    //         display: inline-block;
    //         a{
    //             text-decoration: none;
    //             color: white;
    //         }
    //     }
    // }
    i{
        display: none;
    }
}
@media(min-width: $extscreen){
    // ul{
    //     display: block;

    //     li{

    //         display: inline-block;
    //         a{
    //             text-decoration: none;
    //             color: white;
    //         }
    //     }
    // }
    nav{
        i{
            overflow: hidden;
            
        }
    }
}



